.app-card-container {
  margin-bottom: 16px;
  padding: 0 8px !important;

  /* View Styles */
  &.custom {
    .app-card {
      background-color: rgb(24, 144, 255);
      height: auto;

      .app-card-text-container {
        .app-card-text-header {
          color: #fff;
        }
        .app-card-text-title {
          color: #fff !important;
          height: 44px;
          font-size: 18px;
          line-height: 22px;
        }
      }
    }
  }
}
