.app-card {
  background-color: #fff;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.1);
  border-radius: 2px;
  overflow: hidden;
  margin-bottom: 16px;
  a {
    display: block;
    width: 100%;
  }

  &.hero {
    height: 434px;
  }

  &.highlight {
    height: 134px;
  }

  &.standard {
    height: 338px;
  }
}

@import "./ImgContainer/styles";
@import "./TextContainer/styles";
