@import "./ImgContainer/styles";
@import "./TextContainer/styles";
.app-card {
  background-color: #fff;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.1);
  border-radius: 2px;
  overflow: hidden;
  a {
    display: block;
    width: 100%;
  }

  &.hero {
    height: 433px;
    .app-card-text-container {
      .app-card-text-title {
        height: 108px;
        line-height: 36px;
        margin: 0;
        font-size: 30px;
      }
    }
  }

  &.highlight a {
    display: flex;

    .app-card-img-container {
      height: 134px;
      min-width: 238px;
    }

    .app-card-text-container {
      padding: 12px 16px;
      .app-card-text-title {
        max-height: 88px;
      }
    }
  }
}
