.b-card {
  overflow: hidden;
  border-radius: 2px;
  -webkit-box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.1);

  > .e-card-link {
    width: 100%;
    position: relative;
    float: left;
    background-color: #fff;
    /*border-top:1px solid $gray-light;*/
  }
}

.e-card-img-container {
  border: none;
  float: left;
  height: 90px;
  margin-right: 16px;
  position: relative;
  width: 90px;

  .b-multimedia-assets {
    bottom: 0;
    left: 0;
    margin: auto;
    max-height: 100%;
    max-width: 100%;
    position: absolute;
    right: 0;
    top: 0;
  }
}

.e-card-img {
  bottom: 0;
  left: 0;
  margin: auto;
  max-height: 100%;
  max-width: 100%;
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
}

.e-card-title {
  margin: 0;
  font-size: 13px;
  line-height: 17px;
  color: $darker-light;
  font-weight: 700;
  max-height: 51px;
  overflow: hidden;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  position: relative;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.e-card-title:first-child {
  max-height: 68px;
  padding: 1px 0;
  -webkit-line-clamp: 4;
}

.b-multimedia-assets > span {
  bottom: 3px;
  color: #fff;
  left: 8px;
  position: absolute;

  &:first-child + span {
    left: 30px;
  }
}

.m-card-home-news-top .b-multimedia-assets > span {
  bottom: 8px;
  font-size: 150%;
  left: 16px;

  &:first-child + span {
    left: 40px;
  }
}

.b-card-text-wrapper {
  padding: 10px 16px;
}

.b-card-misc {
  font-size: 11px;
  line-height: 17px;
  margin: 0 0 1px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.e-card-time {
  color: #606060;
  display: none;
  font-size: 11px;
  margin-left: 6px;

  i {
    vertical-align: middle;
    margin-right: 0;
    position: relative;
    font-size: 13px;
    margin-right: 1px;
    top: -1px;
  }
}

.e-card-section {
  color: #303030;
}

.e-card-video-duration {
  display: inline-block;
  margin-left: -3px;
  font-size: $fontSize-small;
  color: #fff;
  -webkit-text-shadow: 0px 1px 1px rgba(0, 0, 0, 1);
  -moz-text-shadow: 0px 1px 1px rgba(0, 0, 0, 1);
  text-shadow: 0px 1px 1px rgba(0, 0, 0, 1);
  position: relative;
  top: -2px;
  vertical-align: text-bottom;
}

.m-card-home-news-top {
  > .e-card-link > {
    .e-card-img-container {
      float: none;
      margin: 0;

      .e-card-video-duration {
        font-size: $fontSize-base;
        top: 0;
        vertical-align: middle;
      }
    }

    .b-card-text-wrapper {
      width: 100%;
      z-index: 3;
      padding: 16px;
      > {
        .e-card-title {
          color: $darker-light;
          font-size: 24px;
          line-height: 28px;
          font-weight: 700;
          margin: 0px;
        }
      }
    }
  }
}

.b-home-news-top-highlights {
  .m-card-home-news-top {
    .b-card-text-wrapper {
      .b-card-misc {
        margin-bottom: 7px;
      }
    }
  }
}

/* Custom query */
@media (max-width: $breakpoint-s - 0.01px) {
  .m-card-home-news-top {
    &:after {
      background: $gray-dark;
      padding-top: 56.25%; /*16:9 ratio*/
      display: block;
      content: "";
    }

    .e-card-img-container {
      float: none;
      height: 0;
      margin: 0;
      padding-bottom: 56.25%;
      width: 100%;
    }

    .e-card-title {
      max-height: none;
      -webkit-line-clamp: unset;
    }
  }
}

/* Card grid view for medium-up */
@include breakpoint(s) {
  .e-card-title {
    font-size: 18px;
    line-height: 22px;
    -webkit-line-clamp: 5;
    max-height: 110px;
    position: relative;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }

  .e-card-title:first-child {
    max-height: 132px;
    padding: 0;
    -webkit-line-clamp: 6;
  }

  .m-card-gridView-medium-up {
    > .e-card-link {
      height: 338px;
      border-top: 0;

      > .e-card-img-container {
        float: none;
        height: 0;
        margin: 0px;
        padding-bottom: 56.25%;
        width: 100%;

        > .b-multimedia-assets {
          > span {
            bottom: 4px;
            font-size: 150%;
            left: 16px;

            &:first-child + span {
              left: 40px;
            }

            .e-card-video-duration {
              font-size: $fontSize-base;
              top: 0;
              vertical-align: middle;
            }
          }
        }
      }

      > .b-card-text-wrapper {
        position: initial;
        padding: 16px;

        > .b-card-misc {
          font-size: 13px;
          margin: 0 0 10px;

          > .e-card-time {
            display: inline;
          }
        }
      }
    }
  }

  .b-home-news-top-highlights {
    .m-card-home-news-top > .e-card-link {
      height: auto;
    }
  }
}

@include breakpoint(s-m) {
  .b-home-news-top-highlights {
    &:nth-child(2),
    &:nth-child(3) {
      .m-card-gridView-medium-up {
        .b-card-text-wrapper {
          > .b-card-misc {
            margin: 0 0 7px;
          }

          > .e-card-title {
            color: $darker-light;
            font-weight: 700;
            font-size: 30px;
            line-height: 36px;
            margin: 0;
            max-height: none;
            position: relative;
            -webkit-line-clamp: unset;
          }
        }
      }
    }

    &:nth-child(4) {
      width: 50%;
      float: left;

      .m-card-home-news-top {
        > .e-card-link {
          height: 338px;

          > .b-card-text-wrapper {
            > .b-card-misc {
              margin-bottom: 10px;
              padding: 0;
            }

            > .e-card-title {
              margin: 0;
              font-size: 18px;
              line-height: 22px;
            }
          }
        }
      }
    }
  }
}

/* Card grid view for medium */
@include breakpoint(m) {
  .m-card-gridView-medium {
    @include margin-bottom(s);

    > .e-card-link {
      height: 338px;
      padding: 0;
      border-top: 0;
      > {
        .b-card-text-wrapper {
          .e-card-title {
            margin: 0;
            font-size: 18px;
            line-height: 22px;
            color: $darker-light;
            font-weight: 700;
            max-height: 88px;
            overflow: hidden;
          }
          .b-card-misc {
            margin: 0 0 10px;

            > {
              .e-card-time {
                display: inline;
              }
            }
          }
        }
      }
    }
  }

  .m-card-gridView-medium-up {
    > .e-card-link {
      height: 338px;
    }
  }

  .m-card-home-news-top > .e-card-link {
    height: 395px;
  }

  .b-home-news-top-highlights {
    .b-card {
      overflow: hidden;

      .e-card-img-container {
        float: left;
        height: 134px;
        margin-right: 16px;
        padding: 0;
        width: 238px;

        img {
          position: static;
          width: auto;
        }

        .b-multimedia-assets {
          > span {
            bottom: 3px;
          }
        }
      }

      .e-card-link {
        height: auto;
        padding-bottom: 0px;

        .b-card-text-wrapper {
          padding: 12px 16px;

          > .b-card-misc {
            margin: 0 0px 4px;
            padding: 0;
          }

          > .e-card-title {
            margin: 0;
            font-size: 18px;
            line-height: 22px;
            max-height: 88px;
            -webkit-line-clamp: 4;
          }
        }
      }
    }
  }
}

@include breakpoint(l) {
  .b-home-news-top {
    .b-home-news-top-highlights + .xlarge-4,
    .b-home-news-top-hero + .xlarge-4,
    .b-home-news-top-highlights + .xlarge-4 + .xlarge-4 + .xlarge-4 + .xlarge-4,
    .b-home-news-top-hero + .xlarge-4 + .xlarge-4 + .xlarge-4 + .xlarge-4 {
      padding-left: 27px !important;
      width: 33.9757%; // 335/986
    }

    .b-home-news-top-highlights + .xlarge-4 + .xlarge-4,
    .b-home-news-top-hero + .xlarge-4 + .xlarge-4,
    .b-home-news-top-highlights + .xlarge-4 + .xlarge-4 + .xlarge-4 + .xlarge-4 + .xlarge-4,
    .b-home-news-top-hero + .xlarge-4 + .xlarge-4 + .xlarge-4 + .xlarge-4 + .xlarge-4 {
      width: 32.0487%; // 316/986
    }

    .b-home-news-top-highlights + .xlarge-4 + .xlarge-4 + .xlarge-4,
    .b-home-news-top-hero + .xlarge-4 + .xlarge-4 + .xlarge-4,
    .b-home-news-top-highlights
      + .xlarge-4
      + .xlarge-4
      + .xlarge-4
      + .xlarge-4
      + .xlarge-4
      + .xlarge-4,
    .b-home-news-top-hero + .xlarge-4 + .xlarge-4 + .xlarge-4 + .xlarge-4 + .xlarge-4 + .xlarge-4 {
      padding-right: 27px !important;
      width: 33.9757%; // 335/986
    }
  }
}

/* Card grid view for large */
.m-card-gridView-large {
  margin: 0 -16px 12px;

  .e-card-img-container {
    float: none;
    padding-bottom: 56.25%;
    width: 100%;
  }

  .e-card-title {
    font-size: 18px;
    line-height: 22px;
  }

  .b-multimedia-assets {
    > span {
      bottom: auto;
      font-size: 150%;
      left: 16px;
      top: 4px;

      &:first-child {
        + span {
          left: 40px;
        }
      }

      .e-card-video-duration {
        font-size: 14px;
        top: 0;
        vertical-align: middle;
      }
    }
  }

  @include breakpoint(s) {
    margin: 0;

    .e-card-title {
      font-size: 24px;
      line-height: 33px;
      max-height: 66px;
      -webkit-line-clamp: 2;
    }
  }
}

/* Featured Cards */
.b-home-news-general.featured {
  .b-card {
    > .e-card-link {
      .b-card-text-wrapper {
        &:first-child {
          .e-card-title {
            max-height: none;
            -webkit-line-clamp: unset;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: $breakpoint-s - 0.01px) {
  .b-home-news-general.ad-plus-4 {
    .row {
      padding-top: 380px;
      position: relative;

      .columns {
        left: 0;
        position: absolute;
        right: 0;

        &:first-child {
          position: static;
        }

        @for $i from 2 through 5 {
          &:nth-child(#{$i}) {
            top: 95px * ($i - 2);
          }
        }
      }
    }
  }
}

@include breakpoint(s) {
  .b-home-news-general.featured {
    .row {
      margin-bottom: 16px;
      overflow: hidden;

      .columns {
        margin: 0;

        .b-card {
          box-shadow: none;
          margin: 0;
          overflow: visible;
          position: relative;

          &:before {
            bottom: -360px;
            content: "";
            left: 0;
            position: absolute;
            right: 0;
            top: 0;
          }

          .e-card-link {
            background: transparent;
            display: block;
            float: none;
            height: auto;
            padding: 0;

            .e-card-title {
              max-height: none;
              -webkit-line-clamp: unset;
            }
          }
        }
      }
    }
  }
}
