.banner_container {
  position: fixed;
  top: 0px;
  z-index: 1000000000;
  width: 100%;

  .top_bar {
    border: 0;
    padding: 0px;
    height: 0px;
  }
}

.b-main-header {
  position: relative;
  top: 0px;
  z-index: 10000000;
  width: 100%;
}

.main_menu_sidebar_mobile {
  display: block;

  .main_menu_search {
    position: absolute;
    right: 40px;
    top: 21px;
  }

  /* Search icon */
  .main_menu_search a {
    display: inline-block;
    margin-right: 8px;

    i {
      &.icon-contact {
        top: 0px;
      }
    }
  }
}

/* Top bar */
.top_bar {
  border-bottom: 1px solid;
  width: 100%;
  min-width: 300px;
  position: initial;
  z-index: 99;
  margin: 0 auto;
  position: relative;
  padding: 10px 0px 9px;
  height: 60px;
}

/* Logo */
.logo {
  position: relative;
  display: block;
  float: left;

  > {
    a {
      display: block;
      height: 40px;
      width: 154px;

      > {
        h2 {
          left: -999999px;
          position: absolute;
        }
      }

      &.telefe-logo {
        background-position: 0% 50%;
        background-repeat: no-repeat;
        background-size: contain;
        margin-left: 16px;
        position: relative;

        &.default-logo {
          h2 {
            color: #fff;
            line-height: 40px;
            margin: 0;
            overflow: hidden;
            position: static;
            text-overflow: ellipsis;
            white-space: nowrap;
            width: 100%;
          }
        }

        svg {
          display: none;
        }

        @media screen and (min-width: $breakpoint-s) {
          margin-left: 0px;
        }

        @media only screen and (min-width: 360px) {
          width: 184px;
        }
      }
    }
  }
}

/* Hamburguer icon */
.menu_button_more {
  width: 16px;
  height: 16px;
  position: relative;
  float: right;
  cursor: pointer;
  top: 12px;
  right: 16px;

  &:before {
    width: 120px;
    content: attr(data-label);
    font-size: $fontSize-base;
    padding-left: 24px;
    display: none;
    font-family: "Roboto Condensed", sans-serif;
    font-weight: 700;
    position: relative;
    top: -1px;
    text-transform: uppercase;
    white-space: nowrap;
  }

  > {
    span {
      display: block;
      position: absolute;
      height: 2px;
      width: 100%;
      opacity: 1;
      left: 0;
      @include rotate(0);
      @include transition(all, 0.25s, ease-in-out);

      &:nth-child(1) {
        top: 3px;
      }
      &:nth-child(2),
      &:nth-child(3) {
        top: 8px;
      }
      &:nth-child(4) {
        top: 13px;
      }
    }
  }
}

.m-main-menu-trigger-open > span {
  &:nth-child(1) {
    top: 0px;
    width: 0%;
    left: 50%;
  }
  &:nth-child(2) {
    @include rotate(45);
  }
  &:nth-child(3) {
    @include rotate(-45);
  }
  &:nth-child(4) {
    top: 16px;
    width: 0%;
    left: 50%;
  }
}

/* Menu items */

#header .b-menu-items-list-dropdown {
  display: none;
}

.main_menu > .menu_items_list {
  display: none;
  top: 0;
  float: right;

  ul {
    list-style: none;
    margin: 0;
    padding: 0;

    .menu_item {
      position: relative;

      > {
        a {
          display: block;
          width: 100%;
          @include font-settings(base);
          font-family: "Roboto Condensed", sans-serif;
          font-weight: 700;
          padding: 24px 24px 0 24px;
          text-transform: uppercase;
        }
      }

      /* MENU ARROW */
      &:before {
        border-left-color: transparent;
        border-right-color: transparent;
        border-top-color: transparent;
        border-width: 9px;
        border-style: solid;
        bottom: 100%;
        content: "";
        display: none;
        height: 0;
        pointer-events: none;
        position: absolute;
        right: 15px;
        width: 0;
        z-index: 20;

        @include breakpoint(s) {
          right: -1px;
        }

        @include breakpoint(m) {
          right: 104px;
        }
      }

      &:after {
        border-left-color: transparent;
        border-right-color: transparent;
        border-top-color: transparent;
        border-width: 8px;
        border-style: solid;
        bottom: 100%;
        content: "";
        display: none;
        height: 0;
        pointer-events: none;
        position: absolute;
        right: 16px;
        width: 0;
        z-index: 21;

        @include breakpoint(s) {
          right: 0px;
        }

        @include breakpoint(m) {
          right: 105px;
        }
      }

      &:nth-child(1) {
        border-top-left-radius: 2px;
        border-top-right-radius: 2px;

        &:before,
        &:after {
          display: block;
        }
      }

      &:last-child {
        a {
          padding-bottom: 24px;
        }
      }
    }
  }
}

.m-main-menu-items-list-open {
  display: block !important;
  z-index: 99;
}

.main_menu > .menu_items_list {
  margin-top: 7px;
}

@media only screen and (max-width: $breakpoint-m - 0.01px) {
  .m-main-menu-items-list-open {
    display: block !important;
    position: inherit;
    top: 50px;
    width: 100%;
  }
}

@include breakpoint(s) {
  .menu_button_more {
    right: 0px;
  }

  .main_menu > .menu_items_list {
    position: absolute;
    width: 320px;
    right: 0;
    top: 52px;

    li {
      &:last-child {
        border-bottom-left-radius: 2px;
        border-bottom-right-radius: 2px;
      }
    }
  }

  .main_menu_sidebar_mobile .main_menu_search {
    top: 0px;
    right: -8px;
  }

  /* Search icon */
  .main_menu_search a {
    display: block;
  }

  /* Search form */
  .main_menu_search {
    a {
      display: block;
      position: absolute;
      margin-right: 0px;
      right: 58px;
      top: 22px;
    }

    > {
      .e-contact {
        right: 30px;
      }
    }
  }

  .top_bar {
    width: 616px;
  }
}

@include breakpoint(m) {
  .main_menu > .menu_items_list {
    margin-top: 0px;
  }

  .menu_button_more {
    right: inherit;
  }

  .main_menu_sidebar_mobile {
    display: none;
  }

  .top_bar {
    width: 932px;
  }

  .main_menu {
    width: 75%;
    padding-right: 105px;
    float: right;
    position: relative;
  }

  /* Hamburguer icon */
  .menu_button_more {
    &:before {
      display: block;
    }
  }

  /* Menu items */
  .main_menu > .menu_items_list {
    display: block;
    background-color: transparent;
    position: relative;
    line-height: 40px;
    width: auto;
    right: auto;
    top: auto;

    ul {
      .menu_item {
        border: 0;
        display: block;
        float: left;
        padding-left: 0px;

        > a {
          display: inline;
          width: auto;
          border: none;
          padding: 24px 24px 0 0;
        }

        &:nth-child(1) {
          &:before,
          &:after {
            display: none;
          }
        }
      }
    }
  }

  /* COLLPASABLE MENU ITEMS */
  @for $i from 4 through 30 {
    .main_menu {
      > .menu_items_list {
        ul .menu_item:nth-child(#{$i}) {
          display: block;
          width: 0;
          visibility: hidden;
          opacity: 0;
          position: absolute;
          right: -122px;
          padding-left: 24px;
          width: 312px;
          top: 46px + (40 * ($i - 4));

          > a {
            display: block;
          }
        }

        &.m-main-menu-items-list-open {
          ul .menu_item:nth-child(#{$i}) {
            visibility: visible;
            opacity: 1;
            @include transition(opacity, 0.2s, ease-in-out);
          }
        }
      }
    }
  }

  /* MENU ARROW */
  .main_menu > .menu_items_list ul .menu_item:nth-child(4) {
    &:before,
    &:after {
      display: block;
    }
  }

  .main_menu > .menu_items_list ul .menu_item:nth-child(4) {
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
  }
}

@include breakpoint(xl) {
  @for $i from 5 through 30 {
    .main_menu {
      > .menu_items_list {
        ul .menu_item:nth-child(#{$i}) {
          top: 46px + (40 * ($i - 5));
        }
      }
    }
  }

  /* MENU ARROW */
  .main_menu > .menu_items_list ul .menu_item:nth-child(5) {
    &:before,
    &:after {
      display: block;
    }
  }

  .main_menu > .menu_items_list ul .menu_item:nth-child(5) {
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
  }

  // Override the new added item to the static menu
  .main_menu > .menu_items_list ul .menu_item:nth-child(4) {
    border: 0;
    opacity: 1;
    padding: 0;
    position: static;
    visibility: visible;
    width: auto;

    > a {
      display: inline;
      position: static;
      width: auto;
    }

    &:before,
    &:after {
      display: none;
    }
  }
}

/********************************
Menú del Header
*/
.menu_button_more {
  &:before {
    color: $headerText;
  }

  > span {
    background: $headerText;
  }
}

.main_menu_sidebar_mobile {
  .main_menu_search i {
    color: $headerText;
  }
}

.main_menu > .menu_items_list {
  ul .menu_item {
    > a {
      color: $dropdownText;
    }

    &:before {
      border-bottom-color: $dropdownBorder;
    }

    &:after {
      border-bottom-color: $dropdownBg;
    }
  }
}

@include breakpoint(-m) {
  .main_menu > .menu_items_list {
    background-color: $dropdownBg;

    ul .menu_item {
      &:last-child {
        border-bottom: 1px solid $dropdownBorder;
      }
    }
  }
}

@include breakpoint(s) {
  .main_menu > .menu_items_list {
    .menu_item {
      border-right: 1px solid $dropdownBorder;
      border-left: 1px solid $dropdownBorder;

      &:nth-child(1) {
        border-top: 1px solid $dropdownBorder;
      }
    }
  }
}

@include breakpoint(m) {
  .main_menu > .menu_items_list {
    ul .menu_item {
      border: 0;

      // Override the new added item to the static menu
      &:nth-child(1) {
        border-top: 0;
      }

      > a {
        color: $headerText;
      }
    }
  }

  .main_menu > .menu_items_list ul .menu_item:nth-child(4) {
    border-top: 1px solid $dropdownBorder;
  }

  /* COLLPASABLE MENU ITEMS */
  @for $i from 4 through 30 {
    .main_menu {
      > .menu_items_list {
        ul .menu_item:nth-child(#{$i}) {
          background-color: $dropdownBg;
          border-right: 1px solid $dropdownBorder;
          border-left: 1px solid $dropdownBorder;

          > a {
            color: $dropdownText;
          }

          &:last-child {
            border-bottom: 1px solid $dropdownBorder;
          }
        }
      }
    }
  }
}

@include breakpoint(xl) {
  .main_menu > .menu_items_list ul .menu_item:nth-child(5) {
    border-top: 1px solid $dropdownBorder;
  }

  .main_menu > .menu_items_list ul .menu_item:nth-child(4) {
    // Override the new added item to the static menu
    background-color: transparent;
    border: 0;

    > a {
      color: $headerText;
    }

    &:last-child {
      border-bottom: 0;
    }
  }
}
