nav {
  .app-menu {
    background: #1890ff;
    line-height: 60px;
    height: 60px;
    border-bottom: none;

    a {
      color: #fff !important;

      i {
        font-size: 18px !important;
        vertical-align: text-bottom !important ;
        margin-right: 5px !important;
      }
    }

    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;

    .app-menu-item:hover,
    .app-menu-submenu:hover,
    .app-menu-item-active,
    .app-menu-submenu-active,
    .app-menu-item-open,
    .app-menu-submenu-open,
    .app-menu-item-selected,
    .app-menu-submenu-selected {
      a {
        color: #ffc069 !important;
      }
      border-bottom: 2px solid #ffc069;
    }
  }
}
