@import "./VideoJS/styles";
@import "./Overlay/styles";

// Player component
.player {
  margin-bottom: 100px;

  .player-container {
    background-color: #000000;
    min-height: 540px;
    position: relative;
  }
}
