.main_wrapper {
  background-color: #ecf0f1;
  overflow: hidden;
  position: relative;
  z-index: 10;
}

.m-push-sidebar {
  padding-right: 0px;

  /*.row .row {
        margin-left: 0px !important;
        margin-right: 0px !important;    
    }*/
}

blockquote {
  /*background: #f9f9f9;
  border-left: 10px solid #ccc;*/
  margin: 1.5em 10px 0;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
  &:before {
    content: " ";
    background: url("/static/noticias/img/quotes.png");
    width: 75px;
    height: 63px;
    margin-right: 0.25em;
    position: absolute;
    left: 18px;
    margin-top: -18px;
    z-index: 0;
  }
  &:after {
    content: close-quote;
    opacity: 0;
    margin-top: -45px;
    position: absolute;
  }
  p {
    position: relative;
    font-size: 1.2em;
    margin-bottom: 0px;
  }
}

.cf:before,
.cf:after {
  content: " ";
  display: table;
}
.cf:after {
  clear: both;
}

.row {
  margin-left: -8px;
  margin-right: -8px;
  width: auto;
}

.column,
.columns {
  margin-bottom: 4px;
  padding-left: 8px;
  padding-right: 8px;
}

@media only screen and (max-width: $breakpoint-s - 0.01px) {
  .b-section,
  .b-news-related,
  .b-home-news-general,
  .custom-html {
    padding-left: 16px;
    padding-right: 16px;
  }

  .b-home-news-top {
    .column,
    .columns {
      padding-left: 24px;
      padding-right: 24px;

      &.b-home-news-top-hero,
      &.b-home-news-top-highlights {
        margin-bottom: 16px;
        padding-left: 8px;
        padding-right: 8px;
      }
    }
  }
}

@include breakpoint(s) {
  .column,
  .columns {
    margin-bottom: 16px;
  }
  /*.row .row{
        margin-left: -0.359em!important;
        margin-right: -0.359em!important
    }*/

  /*.column,
    .columns{
        padding-left: 8px !important;
        padding-right: 8px !important;
    }*/

  blockquote {
    &:before {
      left: 30px;
      margin-top: -15px;
    }
  }
}

@include breakpoint(xl) {
  blockquote {
    &:before {
      left: 10px;
    }
  }
}

@media only screen and (min-width: $breakpoint-xl + 1px) {
  /*.b-section .row .row{
        margin-left: -0.492em!important;
        margin-right: -0.492em!important
    }
    .b-section .column,
    .b-section .columns{
        padding-left: 0.492em!important;
        padding-right: 0.492em!important;

        &:nth-child(3n) {
            padding-right: 0px !important;
        }
    }*/
}
