.wrapper {
  overflow: hidden;
  position: relative;
  width: 100%;
  margin: 0 auto;
}

@include breakpoint(s) {
  .wrapper {
    overflow: visible;
    width: 616px;
  }

  .wrapper_section {
    top: 16px;
  }
}

@include breakpoint(m) {
  .wrapper {
    position: relative;
    width: 932px;
    -webkit-transition: left 0.3s linear;
    transition: left 0.3s linear;
  }

  .wrapper_section,
  .wrapper_post {
    width: 932px;
  }

  .top_bar,
  .sub_header_container {
    position: relative;
    -webkit-transition: left 0.3s linear;
    transition: left 0.3s linear;
  }
}

@include breakpoint(l) {
  .wrapper {
    &.stretch {
      width: 970px;
    }
  }
}

@media only screen and (min-width: $breakpoint-xl) {
  .side-banner-loaded {
    .wrapper,
    .e-top-bar-banner,
    .top_bar,
    .sub_header_container {
      -webkit-transform: translateX(-150px);
      transform: translateX(-150px);
      -webkit-transition: transform 300ms ease;
      transition: transform 300ms ease;
    }
  }
}
