@import "~nprogress/nprogress.css";

#nprogress {
  .bar {
    background-color: #fff;
  }

  .peg {
    box-shadow: 0 0 10px #fff, 0 0 5px #fff;
  }

  .spinner-icon {
    border-top-color: #fff;
    border-left-color: #fff;
  }
}

.container {
  margin: 0 auto;
  width: calc(100% - 0.05 * 2 * 100%);
  min-width: 288px;
  max-width: 1440px;
}
@import "../components/Organisms/Header/styles";
@import "../components/Organisms/ListCard/styles";
@import "../components/Organisms/Slider/styles";
